<style>
      div.experiment{
            background-color: blue
      }
      div{
            background-color: grey;
            border: thin white dashed;
            font-family: optima, sans-serif;
            padding: 7px;
            color: white;
      }
       body{
             background-color: rgb(123, 158, 189);
             color: white;
             font-family: optima, sans-serif;
       }
      .links:visited{
            color: white;
      }
      .links:hover{
            color: rgb(123, 158, 189);
            font-weight: extra bold;
            font-size:18px;
      }
      table, tr, td{
            background-color: grey;
            border: thin white solid;
            font-family: optima, sans-serif;
            padding:5px;
      }
      table{ 
            float: left;
            padding:5px;
      }
      .floatl{
            float:left;
      }
      .floatr{
            float:right;
      }
      section.container{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
      }
      ul{
        list-style-type: square;
      }
      img{
            padding:5px;
      }
 </style>
