<style>
      body{
       background-color: rgb(123, 158, 189);
       color: white;
       font-family: optima, sans-serif;
      }
      div{
        background-color: grey;
        border: thin rgb(245, 245, 220) dashed;
        font-family: optima, sans-serif;
        padding:5px;
      }
      .links:visited{
        color: rgb(245, 245, 220);
      }
      .links:hover{
        color: rgb(123, 158, 189);
        font-weight:bold;
        font-size:18px;
      }
      table, tr, td{
        background-color: grey;
        border: thin rgb(245, 245, 220) solid;
        font-family: optima, sans-serif;
        padding:5px;
      }
      section.container{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
      }
 </style>
